* {
    box-sizing: border-box;
}

html {
    background: transparent;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
    overflow: hidden;
    background: transparent;
}

.app {
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
    -webkit-app-region: drag;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

button, input, .clickable, .default-view, .clicked-view, #time, #date, #month, #day, #year {
    -webkit-app-region: no-drag;
}


.default-view, .clicked-view {
    height: 100vh;
    position: absolute;
    inset: 0;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.default-view {
    pointer-events: auto;
    -webkit-app-region: no-drag;
}

.clicked-view-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 65vw;
    max-height: 65vh;
    align-items: center;
    justify-content: center;

    margin-left: 19vw;
    margin-top: 35vh;

    pointer-events: auto;
    -webkit-app-region: no-drag;
}

.date-month-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.day-year-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
}

#time {
    color: #FFFFFF;
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 0.20rem;

    margin-top: 37vh;
}

#seconds {
    color: #BDBDBD;
    font-size: 1rem;

    margin-left: 70vw;
}

#date, #month {
    color: #FFFFFF;
    text-align: center;
    font-size: 3.5rem;
}

#day, #year {
    color: #BDBDBD;
    font-size: 1.2rem;
}

/* fonts haha */
@font-face {
    font-family: "Oxanium";
    src: url("./fonts/Oxanium-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 800;
    font-style: normal;
}

.title {
    font-family: "Oxanium";
    font-weight: 600;
    font-style: normal;
}

.sub-title {
    font-family: "Oxanium";
    font-weight: 200;
    font-style: normal;
}


