* {
    box-sizing: border-box;
}

html {
    background: transparent;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
    overflow: hidden;
    background: transparent;
}

.app {
    position: relative;
    width: 100%;
    height: 100vh;
    /* border-radius: 50px; */
    /* padding: 1rem 1rem; */
    color: white;
    -webkit-app-region: drag;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border: 2px solid orange;
}

.clicked-view {
    height: 100vh;
    position: absolute;
    inset: 0;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

    border: 2px solid yellow;
}

.clicked-view-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 65vw;
    max-height: 65vh;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: 2px solid red;

    pointer-events: auto;
    -webkit-app-region: no-drag;
}

.date-month-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 2px solid purple;
}

.day-year-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    border: 2px solid cyan;
}

#date, #month {
    color: #FFFFFF;
    text-align: center;
    font-family: "SF Compact Display";
    font-size: 2.5rem;
}

#day, #year {
    color: #BDBDBD;
    font-family: "SF Compact Text";
    font-size: 1rem;
}
